body {
    margin: 0;
    background: #ffffff;
    font-family: Arial;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    background: #3f8f2f;
    /* verde do Figma */
    padding: 20px 40px;
    padding-left: 100px;
    padding-right: 100px;

}

/* LOGO */
.logo img {
    color: white;
    font-weight: bold;
    height: 100px;
    padding-top: 10px;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin-bottom: 5px;
}

/* Alterei as abas/menu para ficar sublinhado quando colocar mouse em*/
.menu a:hover {
    text-decoration: underline;
}

.btn {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #133816;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 25px;
    border: 2px solid transparent;
    /*isso serve pro botao nao crescer, nao mexer os outros itens (Éricka)*/
}

/*coloquei borda branca no botao de Entrar na pag INICIO (Éricka)*/
.btn:hover {
    border: 2px solid #e8ece9;
}

.bem-vindo {
    display: flex;
    background-color: #117d1a;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 20px 40px;
}

.bem-vindo h2 {
    color: #ffffff;
}

.login-container {
    width: 380px;
    margin: 0px auto;
    /* centraliza */
    background: white;
}

.login {
    border: 3px solid rgb(43, 131, 53);
    border-radius: 20px;
    width: 400px;
    height: 550px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;

}

.login input {
    width: 300px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
}


.login button {
    padding: 10px;
    width: 300px;
    margin: 15px;
    background: #3f8f2f;
    color: white;
    border: 2px solid #3f8f2f;
    /*coloquei borda no botao de Entrar*/
    border-radius: 12px;
}

/*alterções - Éricka */

.login button:hover {
    border-color: #0b0f0a;
    background-color: #14572e;
}

.btEntrar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}


h1 {
    color: #ffffff;
}

.titEntrar {
    margin-top: 0%;
    font: bold;
}

.esqueceuSenha {
    color: #0b0f0a;
    margin-top: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.esqueceuSenha:hover {
    color: #3f8f2f;
}

.logoColorida {
    width: 150px;
    margin-bottom: 0%;
}

a .outrasFormas {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.outrasFormas img {
    width: 80px;
    height: 80px;
}


.googleLogo {
    margin-top: 3px;
    margin-bottom: 0px;
}

.facebookLogo {
    margin-top: 0;
    margin-bottom: 3.5px;
}

div.entrada input {
    border: 2px solid #0b0f0a;
    outline: none;
    /* remove a borda do proprio input */
    box-sizing: border-box;
    /* nao deixa o input aumentar de tamanho quando a borda fica maior */
}

div.entrada input:hover {
    border: 2px solid #3abe19;
}

/* RODAPÉ */
.rodape {
    background-color: #092514;
    color: #ffffff;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.rodape2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.rodape2 a {
    color: #ffffff;
    text-decoration: none;
    margin: 15px;
}

.rodape2 a:hover {
    color: #3abe19;
    text-decoration: underline;
}

a {
    color: #e8ece9;
    font: bold;
}

h3 {
    color: #e8ece9;
    margin-left: 15px;
}

ul {
    color: transparent;
}

.rodape-frase {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.rodape-frase {
    margin: 0;
    padding: 0;
}

/*conteudo pag Inicio (index.html) */

.titulo {
    color: #117d1a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    font-size: 40px;
}

.main-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.bloco-left {
    Width: 500;
    margin: 10px;
}

.menina-catif {
    width: 500px;
}

.bloco-right {
    flex: 1;
    max-width: 600px;
}

.text-principal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    font-size: larger;
    color: #117d1a;
    text-align: justify;
}

.text-dois {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: justify;
}

.text-tres {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: justify;
}

/* BARRA DE PESQUISA - PAG VAGAS (Éricka)*/

#barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    margin-left: 100px;
    border: 3px solid white;
}

#barra-pesquisa:hover {
    border: 3px solid rgb(16, 124, 39);
    transition: 1.5s;
}

#txtBusca {
    background-color: transparent;
    padding-left: 3px;
    font-size: 15px;
    color: #117d1a;
    margin-left: 5px;
    border: none;
    outline: none;
}


/*  
ICONE/imagem DE LUPA DE PESQUISA: */

.imgLupa {
    width: 30px;
    border-radius: 100%;
    border: 2px solid #117d1a;
}

.imgLupa:hover {
    border: 2px solid #3ee34c;
}

nav.menu a {
    margin-top: 10px;
}

.bt-Busca {
    border: none;
    outline: none;
    background-color: #ffffff;
    margin-left: 50px;
    border-radius: 50px;
}

.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;

}

.cadastra-se {
    margin-right: 50px;
    text-decoration: none;
    color: #23f534;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.cadastra-se:hover {
    color: #23f534;
    font: bold;
    text-decoration: underline;

}

.acesso-site {
    color: white;
    margin-top: 5px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}