body {
  margin: 0;
  line-height: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

/*HEADER - CABEÇALHO DAS PÁGINAS: */
.header,
.pagina-ver-vagas {
  display: flex;
  align-items: center;
}

.pagina-ver-vagas {
  width: 100%;
  position: relative;
  background-color: #fff;
  flex-direction: column;
  gap: 100px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 27.1px;
  color: #fff;
  font-family: Inter;
}


.header {
  width: 100%;
  background-color: #359830;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 40px;

  flex-wrap: wrap;
}

.logo-icon {
  height: 109px;
  width: 94px;
  object-fit: cover;
}

.cabealho {
  margin: 0;
  width: 447px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 33px;
  color: #fff;
  font-family: Inter;
}

.bt-inicio {
  height: 40px;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inicio {
  margin: 0;
  color: #f5f5f5;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}

.bt-sobre {
  justify-content: center;
}

.bt-entrar,
.bt-sobre,
.estgio {
  display: flex;
  align-items: center;
}

.estgio {
  margin: 0;
  width: 116px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}

.bt-entrar {
  cursor: pointer;
  border: 2px solid #fff;
  padding: 13px 0;
  background-color: #114915;
  width: 156px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.entrar {
  width: 96px;
  position: relative;
  font-size: 24px;
  font-family: Barlow;
  color: #fff;
  text-align: center;
}

.conteudo,
.entrar,
.frame-vagas1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-vagas1 {
  gap: 36px;
  max-width: 100%;
}

.card-vaga,
.estragio {
  border-radius: 20px;
  align-items: center;
}

.card-vaga {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border: 2px solid #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px 33px 37px;
  gap: 43px;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: Akshar;
}

.estragio {
  align-self: stretch;
  height: 46px;
  background-color: #39a32f;
  position: relative;
  isolation: isolate;
}

.estgio2,
.estragio,
.texto-vaga {
  display: flex;
  justify-content: center;
}

.estgio2 {
  margin: 0 !important;
  height: 46px;
  width: 304px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 0;
}

.texto-vaga {
  width: 322px;
  height: 278px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  text-align: left;
  color: #000;
}

.bolsa-auxlio-r,
.informtica,
.presencial,
.sapiranga {
  width: 160px;
  height: 58px;
  position: relative;
  display: flex;
  align-items: center;
}

.bolsa-auxlio-r,
.presencial,
.sapiranga {
  width: 146px;
  height: 60px;
}

.bolsa-auxlio-r,
.presencial {
  margin: 0;
  width: 170px;
  height: 45px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}

.bolsa-auxlio-r {
  width: 281px;
  white-space: pre-wrap;
}

.btver {
  cursor: pointer;
  border: 3px solid #39a32f;
  padding: 10px;
  background-color: #114a15;
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  align-items: flex-start;
}

.footer,
.frame-vagas-2,
.ver {
  display: flex;
  align-items: center;

}

.ver {
  width: 278px;
  position: relative;
  font-size: 36px;
  font-family: Akshar;
  color: #fff;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
}

.footer,
.frame-vagas-2 {
  align-self: stretch;
}

.frame-vagas-2 {
  height: 537px;
  justify-content: space-between;
  gap: 0;
  row-gap: 20px;
  max-width: 100%;
}

.footer {
  background-color: #359830;
  justify-content: center;
  padding: 0 100px;
  gap: 950px;

  padding: 10px 40px;

}

.logo-icon2 {
  height: 109px;
  width: 120px;
  object-fit: cover;
}

.footer {
  background-color: #359830;
  justify-content: center;
  padding: 0 100px;
  gap: 950px;
  padding: 10px 40px;
}

/*footer - rodapé das páginas:*/
.footer,
.frame-vagas-2,
.ver {
  display: flex;
  align-items: center;

}

.ver {
  width: 278px;
  position: relative;
  font-size: 36px;
  font-family: Akshar;
  color: #fff;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
}

.footer,
.frame-vagas-2 {
  align-self: stretch;
}

.frame-vagas-2 {
  height: 537px;
  justify-content: space-between;
  gap: 0;
  row-gap: 20px;
  max-width: 100%;
}

.logo-icon2 {
  height: 109px;
  width: 120px;
  object-fit: cover;
  }


@media screen and (max-width: 1275px) {
  .conteudo {
    max-width: 100%;
    width: calc(100% - 40px);
  }

  .frame-vagas1 {
    flex-wrap: wrap;
  }

  .frame-vagas-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .pagina-ver-vagas {
    gap: 50px;
  }
}

@media screen and (max-width: 750px) {
  .pagina-ver-vagas {
    gap: 25px;
  }

  .frame-vagas1 {
    gap: 18px;
  }
}

:root {
  /* Color */
  --color-darkolivegreen: #114915;
  --color-forestgreen: #359830;
  --color-white: #fff;


  /* Color */
  --color-black: #000;
  --color-darkolivegreen: #114915;
  --color-forestgreen-100: #359830;
  --color-forestgreen-200: #1e972c;
  --color-white: #fff;

  /* Padding */
  --padding-0: 0px;
  --padding-2: 2px;
  --padding-20: 20px;
  --padding-100: 100px;

  /* Font */
  --font-barlow: Barlow;
  --font-inter: Inter;

  /* FontSize */
  --fs-33: 33px;

  /* Shadows */
  --text-shadow-1: 1.4px 0 0 var(--color-forestgreen-200),
    0 1.4px 0 var(--color-forestgreen-200),
    -1.4px 0 0 var(--color-forestgreen-200),
    0 -1.4px 0 var(--color-forestgreen-200);
}



body {
  margin: 0;
  line-height: normal;
}