body {
    margin: 0;
    background: #ffffff;
    font-family: Arial;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    background: #3f8f2f;
    /* verde do Figma */
    padding: 20px 40px;
    padding-left: 100px;
    padding-right: 100px;

}

/* LOGO */
.logo img {
    color: white;
    font-weight: bold;
    height: 100px;
    padding-top: 10px;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: rgb(178, 15, 15);
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin-bottom: 5px;
}

/* Alterei as abas/menu para ficar sublinhado quando colocar mouse em*/
.menu a:hover {
    text-decoration: underline;
}

.btn {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #133816;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 25px;
    border: 2px solid transparent;
    /*isso serve pro botao nao crescer, nao mexer os outros itens (Éricka)*/
}

/*coloquei borda branca no botao de Entrar na pag INICIO (Éricka)*/
.btn:hover {
    border: 2px solid #e8ece9;
}


/* RODAPÉ */
.rodape {
    background-color: #092514;
    color: #ffffff;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.rodape2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

}

.rodape2 a {
    color: #ffffff;
    text-decoration: none;
    margin: 15px;
}

.rodape2 a:hover {
    color: #3abe19;
    text-decoration: underline;
}

a {
    color: #e8ece9;
    font: bold;
}

h3 {
    color: #e8ece9;
    margin-left: 15px;
}

ul {
    color: transparent;
}

.rodape-frase {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.rodape-frase {
    margin: 0;
    padding: 0;
}

/*conteudo pag Inicio (index.html) */

/*  
ICONE/imagem DE LUPA DE PESQUISA: */

.imgLupa {
    width: 30px;
    border-radius: 100%;
    border: 2px solid #117d1a;
}

.imgLupa:hover {
    border: 2px solid #3ee34c;
}

nav.menu a {
    margin-top: 10px;
}

.bt-Busca {
    border: none;
    outline: none;
    background-color: #189f1a;
    margin-left: 50px;
    border-radius: 50px;
    color: white;
    padding: 10px;
}



/*06/04/ - éricka (PERFIL DE ALUNO)*/

