<!DOCTYPE html>
<!-- pag Estagio -->

<html lang="pt-br">
<!-- idioma -->

<head>
    <meta charset="UTF-8">
    <title>Estágio</title>

    <!-- 
    <link rel="stylesheet" href="style.css">
  -->

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>


    <header class="header">


        <div class="logo">
            <a href="index">
                <img src="{{ url_for('static', filename='imagens/Logo.png') }}">

            </a>
        </div>

        <!-- MENU -->
        <nav class="menu">
            <a href="index">Início</a>
            <a href="sobre">Sobre</a>
            <a href="vagas">Vagas</a>
            <a href="estagio">Estágio</a>
        </nav>

        <!-- BOTÃO -->
        <a href="login" class="btn">Entrar</a>

    </header>

    <!--CONTEUDO DA PAGINA--->









    <!-- RODAPÉ -->
    <footer class="rodape">

        <div class="rodape2">

            <ul class="sobre-catif">
                <h3>Sobre o CATIF</h3>
                <li><a href="#">Equipe</a></li>
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Missão</a></li>
            </ul>

            <ul class="nosso-site">
                <h3>Nosso site</h3>
                <li><a href="#">Vagas recentes</a></li>
                <li><a href="#">Estagio obrigatório</a></li>
                <li><a href="#">Recomendações</a></li>
                <li><a href="#">Novidades</a></li>
            </ul>

            <ul class="Suporte">
                <h3>Suporte</h3>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Reportar problema</a></li>
            </ul>

            <ul class="Sistema">
                <h3>Sistema</h3>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Termos de Uso</a></li>
            </ul>

            <ul class="Parcerias">
                <h3>Parcerias</h3>
                <li><a href="https://www.ifsul.edu.br/">Instituto Federal Sul-rio-grandense</a></li>
                <li><a href="https://www.ufrgs.br/site/">UFRGS</a></li>
                <li><a href="https://www.feevale.br/">Feevale</a></li>
                <li><a href="https://www.unisinos.br/">Unisinos</a></li>
                <li><a href="https://www2.faccat.br/portal/">Faccat</a></li>
                <li><a href="https://www.instagram.com/fly.hubsapiranga/">FlyHub</a></li>
                <li><a href="https://www.sapiranga.rs.gov.br/">Prefeitura de Sapiranga</a></li>
            </ul>

        </div>
        <div class="frase-rodape">
            <p class="rodape-frase"> &copy; 2026 CATIF. Todos os direitos reservados.</p>
        </div>

    </footer>


</body>

</html>