<!DOCTYPE html>

<html lang="pt-br">

</html>

<head>
  <meta charset="UTF-8">
  <title>Login CATIF</title>

  <!-- 
    <link rel="stylesheet" href="style.css">
  -->

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

  <!-- CABEÇALHO -->

  <header class="bem-vindo">
    <div class="logo">
      <a href="index">
        <img src="{{ url_for('static', filename='imagens/Logo.png') }}">
        <!--  <img src="imagens/Logo.png" alt="Logo CATIF"> -->

      </a>
    </div>
    <h2>Acesse o CATIF!</h2>
  </header>


  <!-- LOGIN -->

  <div class="login-container">
    <div class="login">

      <img src="{{ url_for('static', filename='imagens/imgLogoColorida.png') }}">


      <!-- <img class="logoColorida" src="imagens/imgLogoColorida.png" alt="Logo Colorida Catif"> -->

      <!-- <h2 class="titEntrar">Entrar</h2>  Estava assim --->
      <h2 class="titEntrar">LOGIN</h2> <!-- Ao invés de 'Entrar' no início do login, eu coloquei 'LOGIN' apenas " -->


      <form>

        <div class="entrada">
          <input type="email" placeholder="Email" required>
          <!-- campo de email -->

          <input type="password" placeholder="Senha" required>
          <!-- campo de senha -->

        </div>


        <a href="#">
          <p class="esqueceuSenha">Esqueci minha senha</p>
        </a>

        <!-- botão -->
        <button class="btEntrar" type="submit">Entrar</button>


        <!--direciona pra pag de cadastro caso não tenha um Login  -->
        <h3 class="cadastroText">Não tem uma conta?</h3>
        <a class="cadastro" href="cadastro">Cadastrar-se</a>



        <!-- Outras formas       
        <div class="outrasFormas">
          <p>outras formas</p>

          <a class="linkFacebook" href="https://www.facebook.com/?locale=pt_BR">
            <img class="facebookLogo" src="imagens/facebookLogo.png" alt="facebookLogo">
          </a>

          <a class="linkGoogle" href="https://www.google.com/">
            <img class="googleLogo" src="imagens/googleLogo.png" alt="googleLogo">
          </a> 
        -->
    </div>

    </form>

  </div>
  </div>

  <!-- RODAPÉ -->
  <footer class="rodape">

    <div class="rodape2">

      <ul class="sobre-catif">
        <h3>Sobre o CATIF</h3>
        <li><a href="#">Equipe</a></li>
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Missão</a></li>
      </ul>

      <ul class="nosso-site">
        <h3>Nosso site</h3>
        <li><a href="#">Vagas recentes</a></li>
        <li><a href="#">Estagio obrigatório</a></li>
        <li><a href="#">Recomendações</a></li>
        <li><a href="#">Novidades</a></li>
      </ul>

      <ul class="Suporte">
        <h3>Suporte</h3>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Reportar problema</a></li>
      </ul>

      <ul class="Sistema">
        <h3>Sistema</h3>
        <li><a href="#">Política de privacidade</a></li>
        <li><a href="#">Termos de Uso</a></li>
      </ul>

      <ul class="Parcerias">
        <h3>Parcerias</h3>
        <li><a href="https://www.ifsul.edu.br/">Instituto Federal Sul-rio-grandense</a></li>
        <li><a href="https://www.ufrgs.br/site/">UFRGS</a></li>
        <li><a href="https://www.feevale.br/">Feevale</a></li>
        <li><a href="https://www.unisinos.br/">Unisinos</a></li>
        <li><a href="https://www2.faccat.br/portal/">Faccat</a></li>
        <li><a href="https://www.instagram.com/fly.hubsapiranga/">FlyHub</a></li>
        <li><a href="https://www.sapiranga.rs.gov.br/">Prefeitura de Sapiranga</a></li>
      </ul>

    </div>
    <div class="frase-rodape">
      <p class="rodape-frase"> &copy; 2026 CATIF. Todos os direitos reservados.</p>
    </div>

  </footer>






</body>

</html>