<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap" />
</head>

<body>
    <div class="pagina-sobre-2">
        <div class="pagina-sobre">
            <header class="header">

                <a href="/index">
                    <img class="logo-icon2" alt="" src="{{ url_for('static', filename='imagens/logo.png') }}" />

                </a>

                <nav class="cabealho">
                    <div class="bt-inicio" id="btInicioContainer">
                        <a class="inicio" href="index">Inicio</a>
                    </div>
                    <div class="bt-sobre">
                        <a class="inicio" href="sobre">Sobre</a>
                    </div>
                    <div class="bt-sobre">
                        <a class="inicio" href="estagio">Estágio</a>
                    </div>
                    <div class="bt-sobre">
                        <a class="inicio" href="vagas">Vagas</a>
                    </div>
                </nav>
                <button class="bt-entrar">
                    <a class="entrar" href="login">ENTRAR</a>
                </button>
            </header>

            <main class="conteudo">
                <img class="pessoaimagem-icon" loading="lazy" alt=""
                    src="{{ url_for('static', filename='imagens/elementoCatif.png') }}" />

                <section class="texto">
                    <div class="sobre-app-catif">
                        <h1 class="sobre-o-catif">SOBRE O CATIF</h1>
                    </div>
                    <div class="cont-texto">
                        <div class="paragrafo-sobre">
                            Um site de vagas de estágio desenvolvido por duas estudantes do
                            curso Técnico em Informática de uma instituição pública feito para
                            instituições públicas.<br /><br />O CATIF foi desenvolvido por
                            duas jovens estudantes do curso Técnico em Informática Éricka
                            Vargas e Isabela Jappe Lorenzeti. A ideia foi elaborada durante o
                            último ano do curso, como projeto de conclusão de curso (TCC),
                            sendo orientadas pelo docente Rafael Theis Dittgen.
                        </div>
                    </div>
                </section>
            </main>

            <div class="footer">
                <img class="logo-icon2" alt="" src="{{ url_for('static', filename='imagens/logo.png') }}" />

                <div class="bt-sobre">
                    <h2 class="inicio">© 2026 CATIF. Todos os direitos reservados.</h2>
                </div>
            </div>


        </div>

        <script>
            var btInicioContainer = document.getElementById("btInicioContainer");
            if (btInicioContainer) {
                btInicioContainer.addEventListener("click", function (e) {
                    // Please sync "Pagina Bem vindo" to the project
                });
            }
        </script>
</body>

</html>