<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vagas.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Akshar:wght@400&display=swap" />
</head>

<body>
    <div class="pagina-ver-vagas">
        <header class="header">

            <a href="inicio">

                <img class="logo-icon2" alt="" src="{{ url_for('static', filename='imagens/logo.png') }}" />

            </a>

            <nav class="cabealho">
                <div class="bt-inicio" id="btInicioContainer">
                    <a class="inicio" href="inicio">Inicio</a>
                </div>
             
                <div class="bt-sobre">
                    <a class="inicio" href="estagio">Estágio</a>
                </div>
                <div class="bt-sobre">
                    <a class="inicio" href="vagas">Vagas</a>
                </div>
            </nav>
            <button class="bt-entrar">
                <a class="entrar" href="login">ENTRAR</a>

            </button>
        </header>
        <main class="conteudo">
            <div class="frame-vagas1">
                <section class="card-vaga">
                    <div class="estragio">
                        <h2 class="estagio2">Estágio</h2>
                    </div>
                    <div class="texto-vaga">
                        <div class="informtica">INFORMÁTICA</div>
                        <div class="sapiranga">SAPIRANGA</div>
                        <h2 class="presencial">PRESENCIAL</h2>
                        <h2 class="bolsa-auxlio-r">Bolsa Auxílio: R$ 700</h2>
                    </div>

                    <button class="btver" id="btVer">
                        <a class="ver" href="{{ url_for('vaga_detalhes', id=1) }}">
                            Ver
                        </a>
                    </button>
                </section>
                <section class="card-vaga">
                    <div class="estragio">
                        <h2 class="estagio2">Estágio</h2>
                    </div>
                    <div class="texto-vaga">
                        <div class="informtica">INFORMÁTICA</div>
                        <div class="sapiranga">SAPIRANGA</div>
                        <h2 class="presencial">PRESENCIAL</h2>
                        <h2 class="bolsa-auxlio-r">Bolsa Auxílio: R$ 700</h2>
                    </div>
                    <button class="btver" id="btVer1">
                        <div class="ver">Ver</div>
                    </button>
                </section>
                <section class="card-vaga">
                    <div class="estragio">
                        <h2 class="estagio2">Estágio</h2>
                    </div>
                    <div class="texto-vaga">
                        <div class="informtica">INFORMÁTICA</div>
                        <div class="sapiranga">SAPIRANGA</div>
                        <h2 class="presencial">PRESENCIAL</h2>
                        <h2 class="bolsa-auxlio-r">Bolsa Auxílio: R$ 700</h2>
                    </div>
                    <button class="btver" id="btVer2">
                        <div class="ver">Ver</div>
                    </button>
                </section>
            </div>
            <div class="frame-vagas-2">
                <section class="card-vaga">
                    <div class="estragio">
                        <h2 class="estgio2">Estágio</h2>
                    </div>
                    <div class="texto-vaga">
                        <div class="informtica">INFORMÁTICA</div>
                        <div class="sapiranga">SAPIRANGA</div>
                        <h2 class="presencial">PRESENCIAL</h2>
                        <h2 class="bolsa-auxlio-r">Bolsa Auxílio: R$ 700</h2>
                    </div>
                    <button class="btver" id="btVer3">
                        <div class="ver">Ver</div>
                    </button>
                </section>
                <section class="card-vaga">
                    <div class="estragio">
                        <h2 class="estagio2">Estágio</h2>
                    </div>
                    <div class="texto-vaga">
                        <div class="informtica">INFORMÁTICA</div>
                        <div class="sapiranga">SAPIRANGA</div>
                        <h2 class="presencial">PRESENCIAL</h2>
                        <h2 class="bolsa-auxlio-r">Bolsa Auxílio: R$ 700</h2>
                    </div>
                    <button class="btver" id="btVer4">
                        <div class="ver">Ver</div>
                    </button>
                </section>
                <section class="card-vaga">
                    <div class="estragio">
                        <h2 class="estagio2">Estágio</h2>
                    </div>
                    <div class="texto-vaga">
                        <div class="informtica">INFORMÁTICA</div>
                        <div class="sapiranga">SAPIRANGA</div>
                        <h2 class="presencial">PRESENCIAL</h2>
                        <h2 class="bolsa-auxlio-r">Bolsa Auxílio: R$ 700</h2>
                    </div>

                    <button class="btver" id="btVer5">
                        <div class="ver">Ver</div>
                    </button>
                </section>
            </div>
        </main>
        <div class="footer">
            <img class="logo-icon2" alt="" src="{{ url_for('static', filename='imagens/logo.png') }}" />

            <div class="bt-sobre">
                <h2 class="inicio">© 2026 CATIF. Todos os direitos reservados.</h2>
            </div>
        </div>
    </div>

    <script>
        var btInicioContainer = document.getElementById("btInicioContainer");
        if (btInicioContainer) {
            btInicioContainer.addEventListener("click", function (e) {
                // Please sync "Pagina Bem vindo" to the project
            });
        }

        var btVer = document.getElementById("btVer");
        if (btVer) {
            btVer.addEventListener("click", function (e) {
                // Please sync "Pagina sobre" to the project
            });
        }

        var btVer1 = document.getElementById("btVer1");
        if (btVer1) {
            btVer1.addEventListener("click", function (e) {
                // Please sync "Pagina sobre" to the project
            });
        }

        var btVer2 = document.getElementById("btVer2");
        if (btVer2) {
            btVer2.addEventListener("click", function (e) {
                // Please sync "Pagina sobre" to the project
            });
        }

        var btVer3 = document.getElementById("btVer3");
        if (btVer3) {
            btVer3.addEventListener("click", function (e) {
                // Please sync "Pagina sobre" to the project
            });
        }

        var btVer4 = document.getElementById("btVer4");
        if (btVer4) {
            btVer4.addEventListener("click", function (e) {
                // Please sync "Pagina sobre" to the project
            });
        }

        var btVer5 = document.getElementById("btVer5");
        if (btVer5) {
            btVer5.addEventListener("click", function (e) {
                // Please sync "Pagina sobre" to the project
            });
        }
    </script>
</body>

</html>